<base href="/">
<mat-toolbar color="primary">
  <span>Make my choice</span>
</mat-toolbar>
<br>
<img src="favicon.ico" height="200px" style="margin-left: 60px">
<h2>What's on your mind ?</h2>

<div class="example-container">
  <mat-slide-toggle (change)="onSlideChange($event)">Add coef</mat-slide-toggle>
  <br>
</div>


<div id="boday">
  <ul id="descInput">
    <li *ngFor="let choice of choices">
      <mat-form-field id="choiceInput">
        <input matInput placeholder="Choice {{choice.id}}" [(ngModel)]="choice.description">
      </mat-form-field>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <mat-form-field *ngIf="showCoef" id="coefInput">
        <input matInput type="number" min="1" placeholder="Coef {{choice.id}}" [(ngModel)]="choice.coefficient">
      </mat-form-field>
      &nbsp;
      &nbsp;
      <button mat-mini-fab id="suprButton" (click)="onSupressChoice(choice.id)">x</button>
    </li>
  </ul>
</div>
<div>
  <button mat-mini-fab (click)="onAddChoice()">+</button>
</div>
<br>
<br>
<div id="buttonGroup">
  <button id="bottomButtonsCalc" mat-stroked-button (click)="onCalculate()">Calculate</button>
  <button id="bottomButtonsReset" mat-stroked-button (click)="onReset()">Reset</button>
</div>

<br>
<div *ngIf="showChoice" id="resultBloc">
  <span> Your choice is : </span>
  <br>
  &nbsp;
  &nbsp;
  <span id="resultValue">{{finalChoice}} !</span>
</div>

