example-container {
  display: inline-block;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

#suprButton {
  background-color: red;
}

#descInput {
  list-style-image: none !important;
  list-style: none !important;
  list-style-type: none !important;
}

#choiceInput {
  width: 40% !important;;
  text-align: left;
}

#coefInput {
  width:20% !important;
  text-align: left;
}

#bottomButtonsCalc {
  width: 100px;
  float: left;
  margin-left: 40px;
}

#bottomButtonsReset {
  width: 100px;
  float: right;
  margin-right: 40px;
}

#boday {
  width: 100%;
}

#buttonGroup {
  margin-bottom: 50px;
}

#resultBloc {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

#resultValue {
  font-weight: bold;
  color: midnightblue;
}
